extends layout

block content
	h1= title
	p Welcome to #{title}

	#front

		.hats.bloc-left
			each hat, i in h
				if (i%2==0)
					.hat.border-bloc
						p.title= 'Chapeau ' + hat.value
						.countries
							each country in c
								if hat.value == country.chapeau
									.country.border-bloc(data-id=(country.flag))
										img(src= "/images/flags/4x3/" + country.flag +".svg", alt=country.value, style='height:20px')
										span.title= country.value
		.groups.bloc-left
			each group, index in g
				if(index == 4)
					.clear
				.group.bloc-left(data-key=(group.value))
					p.title= 'Groupe ' + group.value
					- for (var i = 1; i <= e; ++i) {
						.elem.border-bloc
							// p=i
							.item
					- }
					
		.hats.bloc-right
			each hat, i in h
				if (i%2==1)
					.hat.border-bloc
						p.title= 'Chapeau ' + hat.value
						.countries
							each country in c
								if hat.value == country.chapeau
									.country.border-bloc(data-id=(country.flag))
										img(src= "/images/flags/4x3/" + country.flag +".svg", alt=country.value, style='height:20px')
										span.title= country.value
block extra-js
	script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
	script(src="/socket.io/socket.io.js")
	script(src='/javascripts/front-script.js')
	// script.
		// var socket = io('//localhost:3000');
		// socket.on('moveTeam', function (data) {
		// 	moveTeamEasy(data, socket);
		// });
		// socket.on('removeTeam', function (data) {
			// removeTeamEasy(data);
		// });